@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}
.u-layout-row {
flex-direction: row;
flex-wrap: wrap;
min-height: 100%;
max-width: 100%;
}

.one {
  max-width: 100%;
}

ul li {
  list-style: none;
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}

.blockquote {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
/* Default styling for all screens ends here */

/* Add media query for tablet */
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/* Add media query for desktop */
